* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #262626;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimotionals {
    width: 350px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    cursor: default;
}

.testimotionals .card {
    position: relative;
    overflow: hidden;
    width: 350px;
    margin: 0 auto;
    background: #333;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.testimotionals .card .layer {
    z-index: 1;
    position: absolute;
    top: calc(100% - 2px);
    height: 100%;
    width: 100%;
    left: 0;
    background: linear-gradient(to left, orange, tomato);
    transition: 0.5s;
}

.testimotionals .card .content {
    z-index: 2;
    position: relative;
}

.testimotionals .card:hover .layer {
    top: 0;
}

.testimotionals .card .conte nt .details h2 {
    font-size: 18px;
    color: white;
}

.testimotionals .card .content .details h2 span {
    font-size: 18px;
    color: purple;
    transition: 0.5s;
}

.testimotionals .card:hover .content .details h2 span {
    color: white;
    position: relative;
}
